/*ul {
    margin-left: -10px;
  } */

h1 {
    text-align:left;
}

.e16nr0p32 {
    margin-bottom: -1rem;
}

h5 {
    text-align:left;
}


.css-1595djx {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 0;
    background: unset;
    backdrop-filter: unset;
    z-index: 1000020;
    display: block;
}


footer {
    visibility: hidden;
}

.css-1bh6xo1 {
    top: 62px;
}

.e1fqkh3o0{
	top: 3.9rem;
	left: -0.5rem;
}
.navbar-dark{
	background-color: #1E8449
}

.css-1n76uvr {
	margin-top: -30px;
    width: 900px;
    right: 100px;
    /* left: 50px; */
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.5rem;
}
.css-1oe6wy4{
    position: inherit;
}
.css-1v0mbdj {
    width: 100px;
    margin-top: 25px;
    margin-bottom: -13px;
}

.css-1j5p5eu {
    width: 900px;
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 0.5rem;
}

.css-1vbkkum {
    height: 0rem;
}

.css-fk4es0 {
    background-image: linear-gradient(90deg, rgb(128 221 111), rgb(255, 253, 128));
}

.css-wqwhw2 {
    text-align: center;
}

.css-128j0gw {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -45px;
}
